
/*Adding some fonts*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'kanit',sans-serif;  
   
    }

    
        
    

    nav {
        background-color: #2c2f31;
        height:80px;
        width: 100%;
    }

    nav ul{
        float: left;
        margin-left: 30px;
        font-size: 25px;
        color:white
    }

    nav ul li {
        display: inline-block;
        line-height: 85px;
        margin-right:20px
        
    }

    nav ul li a {
        color:white;
        padding: 7px 13px;
        border-radius: 5px;
        text-transform: uppercase;
    }

    a.active,a:hover {
        background-color: rgb(177, 223, 109, 0.5);
     
    }

    
    

 

main {
     background-color: #353d41;
     flex: 1 0 auto;
}

.heading {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin:40px auto;
}

.heading h1 {
    position:relative;
    font-size: 250%;
    color:white;

}

.wrapper {
    margin: 150px auto;
    width:40%;
}

footer {
    background-color: #2c2f31;
 }

 /***Header***/

@media screen and (min-width:768px) {
    

}
    

    
 

#intro {
    position: relative;
    width: 35%;
    min-height:200px;
    background-color: rgb(177, 223, 109, 0.5);
    color:white;
    border-radius: 5px;
    top: 50%;
    padding: 15px;
    margin-top: 40px;
    margin-left: 50%;
 }

 #about-me {
    text-align: center;
 }

 /*Photo of me but will need to change*/
 #picture {
    position: relative;
    width: 200px;
    min-height:200px;
    background-color: rgb(177, 223, 109, 0.5);
    border-radius: 5px;
    top: 50%;
    padding: 15px;
    margin-top: 40px;
    margin-right: 50%;
    margin-bottom: 50px;
 }


/*Footer, reference from LoveRunning*/
#social-media {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    display: flex;
    justify-content:space-evenly;
    
}

#social-media i {
    font-size: 200%;
    color:#f0e6e6;
}
  
